# python
.pytest_cache/
.coverage
htmlcov/*
omega/_version.py
*parsetab.py
tests/generated_foo.py
build/*
dist/*
*.egg-info/*
__pycache__
*.pyc
*.egg
*.lprof
# tla
__tlacache__/
states/
headers/
workspace/
*.tlaps
*.toolbox
*.states
# tex
*.tex
*.log
*.dvi
*.aux
# editing
*.swp
# OS
.DS_Store
._.DS_Store
# binaries or generated
*.pdf
*.tar
*.gz
*.svg
*.html
*.css
*.txt
