sudo: false

language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7

before_install:
  - pip install --upgrade pip setuptools
  - pip install coveralls

install:
  - python setup.py sdist
  - pip install dist/omega-*.tar.gz

script:
  - cd tests/
  #
  # test as installed by `pip` (may be source or wheel)
  - nosetests -e "cover*"
  #
  # test without `dd.cudd` (pure Python)
  - export DD_VERSION=$(pip show dd | head
    | grep -m 1 -o -E '[0-9]+\.[0-9]+\.[0-9]+')
  - pip uninstall --yes dd
  - pip install dd==${DD_VERSION} --no-binary dd
  - nosetests -e "cover*"
  - cd ..
  #
  # install `dd.cudd`
  - pip uninstall --yes dd
  # obtain `dd` source, even if suitable wheel file available from PyPI
  - pip download --no-dependencies dd==${DD_VERSION} --no-binary dd
  - tar xzf dd-*.tar.gz
  - cd dd-*/
  - python setup.py install --fetch --cudd
  - cd ..
  - cd tests/
  - nosetests --with-coverage --cover-package=omega

after_success:
  - coveralls
