include README.md
include LICENSE
include requirements.txt
include doc/*.md
include doc/*.dot
include tests/*_test.py
include examples/README.md
include examples/*.py
include spec/*.tla
include spec/mincover/*.tla
include spec/mincover/README
